@import "../../components/header.scss";
@import "../../components/paragraph.scss";
@import "../../utils/variables.scss";

.sucess {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__message {
    text-align: center;
  }

  &__header {
    @extend %header;
    border-bottom: 1px solid rgba($primary, 0.5);
  }

  &__paragraph {
    @extend %paragraph;
  }
}
