<script type="text/html" id="home">
  <form class="form">
    <h1 class="form__header">Welcome</h1>
    <div class="form_inputWrapper">
      <label class="form__label" for="username">Username: </label>
      <input
        class="form__input"
        type="text"
        name="username"
        id="username"
        value="<%= username %>"
      />
    </div>
    <div class="form_inputWrapper">
      <label class="form__label" for="password">Password: </label>
      <input
        class="form__input"
        type="password"
        name="password"
        id="password"
        value="<%= password %>"
      />
    </div>
    <button class="form__submit" type="submit">Log in</button>
  </form>
</script>
