<script type="text/html" id="home">
  <form class="form">
    <h1 class="form__header">Welcome</h1>
    <p class="<%=(showErrorMessageGeneral ? "form__error" : "hidden")%>">
      <%= errorMessageGeneral %>
    </p>
    <div class="form__inputWrapper">
      <label class="form__label" for="username">Username: </label>
      <input
        class="form__input"
        type="text"
        name="username"
        id="username"
        value="<%= username %>"
      />
      <p class="<%=(showErrorMessageUsername ? "form__error" : "hidden")%>">
        <%= errorMessageUsername %>
      </p>
    </div>
    <div class="form__inputWrapper">
      <label class="form__label" for="password">Password: </label>
      <input
        class="form__input"
        type="password"
        name="password"
        id="password"
        value="<%= password %>"
      />
      <p class="<%=(showErrorMessagePassword ? "form__error" : "hidden")%>">
        <%= errorMessagePassword %>
      </p>
    </div>
    <button class="form__submit" type="submit">Log in</button>
  </form>
</script>
